.section-gallery {
    position: relative;
    z-index: 1;
    display: none;
    height: 942px;
    margin: 40px 0;
}
@media (min-width: 1440px) {
    .section-gallery {
        display: block;
    }
}
.section-gallery .container {
    height: 100%;
}
.section-gallery .gallery-left {
    max-width: 420px;
    width: 100%;
    height: 100%;
}
.section-gallery .gallery-trigger {
    width: 420px;
    height: 75px;
    margin-bottom: 42px;
    padding: 0 24px;
    background: #FFFFFF;
    border: 1px solid var(--bs-primary);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    transition: background-color .3s;
}
.section-gallery .gallery-trigger:hover {
    background-color: #fff500;
}
.section-gallery .gallery-pagination__trigger {
    -webkit-user-select: none; /* Safari */
    user-select: none;
    background-color: transparent;
    border: none;
}
.section-gallery .gallery-pagination__trigger.disabled {
    filter: contrast(0);
    pointer-events: none;
}
.section-gallery .gallery-pagination__trigger:hover {
    cursor: pointer;
}
.section-gallery .gallery-pagination__trigger.gallery-pagination__trigger--prev {
    transform: rotate(180deg);
}
.section-gallery .gallery-pagination__info-current,
.section-gallery .gallery-pagination__info-total {
    width: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--bs-primary);
}
.section-gallery .gallery-pagination__info-current {
    color: #D3D3D3;
}
.section-gallery .gallery-pagination__info-divider {
    width: 1px;
    height: 16px;
    background-color: #000000;
}
.section-gallery .gallery-content-container {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
}
.section-gallery .gallery-content {
    display: none;
}
.section-gallery .gallery-content.active {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 930px;
    height: 100%;
    /* width: calc(100% - 510px); */
}
.section-gallery .gallery-content img:nth-child(2n) {
    margin-left: 22px;
}
.section-gallery .gallery-content img:nth-child(3),
.section-gallery .gallery-content img:nth-child(4) {
    margin-top: 16px;
}